header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navBar {
  background-color: #064663;
  height: 80px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

li {
  list-style: none;
}
